{%extends "blog/base.html" %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <article class="post">
                        <div class="post-id">*{{ post.pk }}*</div> 
                        
                        <time class="date">
                            {{ post.published_date }}
                        </time>
                        
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr|truncatechars:150}}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
                        <!-- <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> -->
