{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <p>And this is the list of posts from the database:</p>
        <p>this is the number of posts: {{ posts.count }}</p>
        {% for post in posts %}
            <article>
                <list>{{ post }}</list>
            </article>
        {% endfor %}
        <p></p>
        {% for post in posts %}
            <article>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaks }}</p>
                <time>published: {{ post.published_date }}</time>
            </article>
        {% endfor %}
        <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">
    </body>
</html>
