/* Paste this at the VERY TOP of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+SC&family=IM+Fell+English&family=Special+Elite&family=UnifrakturMaguntia&display=swap');


.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/* Default style for all headers */
h1, h2, h3, h4 {
    color: #ffffff; /* Matches your header text color */
    margin-bottom: 10px;
}

/* Adding 'h1' before the class makes it specific enough to win */

h1.UnifrakturMaguntia, h1.UnifrakturMaguntia a {
    font-family: 'UnifrakturMaguntia', cursive !important;
}

h1.IMFellEnglish, h1.IMFellEnglish a {
    font-family: 'IMFellEnglish', serif !important;
}

h1.Almendra, h1.Almendra a {
    font-family: 'Almendra', serif !important;
}

h1.AlmendraSC, h1.AlmendraSC a {
    font-family: 'AlmendraSC', serif !important;
}

h1.SpecialElite, h1.SpecialElite a {
    font-family: 'SpecialElite', system-ui !important;
}



.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.post-id {
    font-family: "Libre Barcode 39";
    font-size: 3em;
}